
/* Table of Content
==================================================
#BASIC TYPOGRAPHY
#HEADER	
#MENU 
#FEATURED SLIDER 
#ABOUT US
#SERVICE 
#PORTFOLIO
#TESTIMONIAL
#CONTACT US
#FOOTER
#RESPONSIVE STYLE
*/

:root {
    --ff-primary: 'Ubuntu', sans-serif;
    --ff-secondary: 'Quicksand', sans-serif;

    --fs-large: 42px;
    --fs-mid: 28px;
    --fs-sml: 18px;

    --tc-primary: ;
    --tc-secondary: ;
    --tc-accent: ;

    --bg-primary: #000000;
    --bg-secondary: #f6f6f6;
    


    --fc-primary: #f6f6f6;
    --fc-secondary: #000000;
    
}

/* css resets */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    background-color: var(--bg-primary);
    color: var(--fc-primary)
}

a {
    text-decoration: none;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* typography */
body {
    font-family: var(--ff-primary);
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

/* other */

.container {
    max-width: 1000px;
    padding: 0 1.4rem;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

/*nav*/
.container {
    max-width: 1000px;
    padding: 0 1.4rem;
    margin: 0 auto;
}

#navbar {
    --navbar-height: 64px;
    position: fixed;
    height: var(--navbar-height);
    background-color: var(--bg-secondary);
    width: 100%;
    top: 0;
    left: 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.navbar-item {
    margin: 0.4em;
    width: 100%;
}


.home-link, .navbar-link {
    color: var(--fc-secondary);
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
}

.home-link:is(:focus, :hover) {
    color: var(--fc-secondary);
}

.navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
}

.navabr-link:is(:focus, :hover) {
    color: var(--bg-secondary);
    background-color: var(--bg-secondary);
}

.navbar-logo {
    background-color: var(--fc-primary);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-inline-start: 0.5em;
    margin: 10px;
}

#navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    background-color: var(--fc-secondary);
}

#navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: var(--fc-primary);
}

#navbar-toggle[aria-expanded='true'] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
  }
  
#navbar-toggle[aria-expanded='true'] .icon-bar:first-child {
    transform: rotate(45deg);
  }
  
#navbar-toggle[aria-expanded='true'] .icon-bar:nth-child(2) {
    opacity: 0;
  }
  
#navbar-toggle[aria-expanded='true'] .icon-bar:last-child {
    transform: rotate(-45deg);
  }

#navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
  }

#navbar-toggle[aria-expanded='true'] + #navbar-menu {
    background-color: var(--bg-secondary);
    opacity: 1;
    visibility: visible;
  }

.navbar-links {
    list-style: none;
    position: absolute;
    background-color: var(--bg-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }

#navbar-toggle[aria-expanded='true'] + #navbar-menu .navbar-links {
    padding: 1em;
  }

/* hero-section */
.hero-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    
}

.text-slider-items {
    display: none;
  }

.text-slider {
    font-size: var(--fs-sml);
}

.hero-title {
    text-align: center;
    font-size: var(--fs-large);
    font-family: var(--ff-secondary);
  }

.hero-description {
    margin-top: 15px;
    padding-top: 15px;
}

.hero-image {
    max-width: 300px;
    min-width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 50px;
}

/*about section */
.about-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center
}


.about-title {
    padding-bottom: 30px;
    font-size: var(--fs-mid);
}

.about-description {
    padding-bottom: 15px;
}

.about-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
}

.about-gallery-image {
    width: 250px
}

.about-services {
    padding-bottom: 20px;
}

.services-gallery {
    width: 100vh;
    background-color:  	#f6f6f6;
    color: var(--fc-secondary)
}

.service-row i {
    width: 10px;
}


  /* Responsive breakpoints */
  @media screen and (min-width: 700px) {
    #navbar-toggle, #navbar-toggle[aria-expanded='true'] {
        display: none;
    }

    #navbar-menu, #navbar-toggle[aria-expanded='true'] + #navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
        
    }

    .navbar-links, #navbar-toggle[aria-expanded='true'] + #navbar-menu .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

    .hero-section {
        padding-top: 80px;
    }
  }

  @media screen and (min-width: 100px) and (max-width: 420px) {
    .hero-section {
        padding-top: 120px;
    }

    
  }

  @media screen and (min-width: 420px) and (max-width: 700px) {
    .hero-section {
        padding-top: 100px;
    }
  }


